@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=Poppins:ital,wght@0,400;0,900;1,400;1,900&family=Roboto:wght@100;400;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #93e4c1;
  font-family: "Roboto" sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  flex-direction: column;
  pad: 20px;
}

.container {
  border: 1px solid #000;
  border-radius: 5px;
  background: #3baea0;
  max-width: 100%;
  width: 800px;
  padding: 50px 20px;
  text-align: center;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

h3 {
  margin: 0;
  opacity: 0.7;
  letter-spacing: 1.2px;
}

.joke {
  font-size: 25px;
  line-height: 40px;
  margin: 30px auto;
  max-width: 600px;
  color: #fff;
  white-space: normal;
}

.btn {
  background: #1f6f78;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  transition: scale 0.4s ease;
}

.btn:active {
  transform: scale(0.9);
}
